html {
    width: 100vw;
    height: 100vh;
    filter: sepia(3%);
}

body {
    margin: 0 auto;
    padding: 0;
    position: relative;
    font: 17pt 'Times New Roman', Verdana, Tahoma, Arial, 'Trebuchet MS',
        Garamond, Courier, Serif;
    background: url("img/TextureBody.jpg") repeat-y fixed, #1e1e41;
    background-blend-mode: luminosity;
    max-width: 1920px;
    min-width: 500px;
    min-height: 100%;
    overflow-y: overlay;
}

.Preloader {
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background: linear-gradient(135deg, #fff9d6, #00ccff);
    z-index: 100;
}

.PreloadBox {
    position: relative;
    top: 50%; left: 50%;
    height: 120px;
    width: 120px;
    margin-left: calc(-120px/2);
    margin-top: calc(-120px/2);
    animation: PreloadBoxRotate 3s linear infinite;
}

.PreloadCircle {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    bottom: 0;
    background:#812de0;
    border-radius: 50%;
    animation: PreloadCircleScale 1.5s ease-in-out infinite;
}

.PreloadCircle:last-child {
    top: calc(50% - 40px/2);
    left: calc(50% - 40px/2);
    background:#e222c2;
    transform: scale(0);
    animation-delay: 0.75s;
}

.PreloadHiding .Preloader {
    transition: 300ms opacity;
    opacity: 0;
}

.loaded .Preloader {
    display: none;
}

h1 {
    margin: 0;
    padding: 5px;
    font-family: Georgia;
    font-size: 82pt;
    font-weight: 400;
}

h3 {
    font-size: 14pt;
    margin-left: 17px;
}

header::before { /* Для изменений только фона */
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    height: 200px;
    z-index: -3;
    background: linear-gradient(135deg, rgba(254, 239, 255, 0.9),
    rgba(9, 202, 228, 0.3)), url("img/HeaderImage.png") no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    border-bottom: 1px solid #7c81e2;
    box-sizing: border-box;
    filter: blur(1px);
} 

header {
    position: relative;
    white-space: nowrap;
    text-align: left;
    padding-left: 25px;
}

.MainHeader {
    position: relative;
    width: 590px;
}

.MainHeader a {
    text-decoration: none;
    color: #650f8d;
}

.MainHeader p {
    margin: 0;
    padding-bottom: 18px;
    font-size: 32pt;
    font-style: italic;
}

.ready .HeaderTitle {
    animation: HeaderTitleAnimation 2.5s;
}

.HeaderEmblem1 {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    height: 200px;
    z-index: -2;
    background: linear-gradient(135deg, rgba(254, 239, 255, 0.9),
    rgba(9, 202, 228, 0.3)), url("img/HeaderImage.png") no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    border-bottom: 1px solid #7c81e2;
    box-sizing: border-box;
    clip-path: circle(0 at calc(100vw - 115px) 100px);
    transform-origin: calc(100vw - 115px) 100px 0;
    filter: blur(1px) brightness(1) saturate(1);
    
}

.HeaderEmblem2 {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    height: 200px;
    z-index: -1;
    background: linear-gradient(135deg, rgba(254, 239, 255, 0.9),
    rgba(9, 202, 228, 0.3)), url("img/HeaderImage.png") no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    border-bottom: 1px solid #7c81e2;
    box-sizing: border-box;
    clip-path: circle(0 at calc(100vw - 115px) 100px);
    transform-origin: calc(100vw - 115px) 100px 0;
    filter: blur(3px) brightness(1.1) saturate(1.1);
}

.ready .HeaderEmblem1 {
    animation: HeaderEmblem1Animation_BigScreen 3s linear infinite;
}
.ready .HeaderEmblem2 {
    animation: HeaderEmblem2Animation_BigScreen 3s linear infinite;
}
.ready .HeaderEmblem1AnimDelay, .ready .HeaderEmblem2AnimDelay {
    animation-delay: 2.5s;
}

nav::before { /* Для изменений только фона */
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background: url("img/TextureTVLines.png") no-repeat, 
        rgba(76, 128, 224, 0.75);
    background-blend-mode: soft-light;
}

nav {
    height: 80px;
    margin: 25px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.Navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    top: 25%;
    height: 50%;
    width: 72%;
}

.Navigation > a {
    margin: auto;
    padding: 6px 0;
    width: 17%;
    min-width: 93px;
    height: 1em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #682c59;
    text-shadow: 0 0 10px rgba(255, 0, 150, 0.3);
    background: linear-gradient(10deg, #00ffc8, rgba(255, 251, 0, 0.9));
    border-radius: 10px;
}

.Navigation > a:first-child {
    border-radius: 10px 0 10px 0;
}

.Navigation > a:last-child {
    border-radius: 0 10px 0 10px;
}

.Navigation > a:active {
    background: linear-gradient(10deg, #00e7b5,#e9e500b9);
}

main {
    display: flex;
    align-items: stretch;
    padding-bottom: 81px;
}

aside::before { /* Для изменений только фона */
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background: url("img/TextureTVLines.png") repeat-y, #dfa935;
    background-blend-mode: soft-light;
    border-radius: 20px;
    filter: opacity(75%);
}

aside {
    position: relative;
    margin-left: 25px;
    width: 20%;
    border-radius: 20px;
}

.RightSection {
    width: 38%;
    background: linear-gradient(90deg, rgba(163, 58, 137, 0), 
        rgba(73, 167, 255, 0.75));
    border-radius: 0 20px 20px 0;
}

.AsideContainer, .RightImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.RightImgContainer {
    margin: auto;
    width: 70%;
}

.AsideImg, .RightImg, .FigCover img, .RightImgCover {
    max-width: 100%;
    height: 100%;
}

.AsideImg, .RightImg {
    opacity: 0.7;
    filter: sepia(0.3);
}

.FigCover {
    margin: 0 5px;
    border-radius: 50%;
}

.FigCover a {
    text-decoration: none;
    color: #e3deec;
    text-shadow: 2px 2px 3px rgba(56, 64, 66, 0.5);
}

.DiskCoverWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: saturate(0.75);
}

.FigCover img {
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid rgba(227, 222, 236, 0.95);
    border-radius: 50%;
}

.DoubleCircle {
    position: absolute;
    width: 90px; height: 90px;
    top: calc(50% - 90px/2);
    left: calc(50% - 90px/2);
    border-radius: 50%;
    background: radial-gradient(circle at center, #2d2c2c 18px, 
        rgba(227, 222, 236, 0.98) 19px);
}

.FigCover figcaption {
    padding: 5px;
    font: 15pt 'Nirmala UI';
    letter-spacing: 0.02em;
    text-align: center;
    background: linear-gradient(10deg, #00428d,#00c0f0);
    border-radius: 3px;
}

.FigCover:hover {
    transform: scale(1.01);
    transition: 0.25s;
}

.DiskCoverWrapper:hover, .FigCover figcaption:hover {
    box-shadow: 0 0 20px rgba(255, 247, 134, 0.733);
}

aside, .MainArticle, .RightImgCover, .Navigation a, .FigCover {
    transition: transform 0.1s;
}

aside:hover, .MainArticle:hover, .Navigation a:hover, .RightImgCover:hover {
    box-shadow: 0 0 20px rgba(255, 247, 134, 0.733);
    transform: scale(1.01);
    transition: transform 0.25s;
}

.MainArticle::before { /* Для изменений только фона */
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background: url("img/TextureTVLines.png") repeat-y, #b660a0;
    background-blend-mode: soft-light;
    border-radius: 20px;
    filter: opacity(75%);
}

.MainArticle {
    display: flex;
    position: relative;
    margin: 0 25px;
    width: 77%;
    border-radius: 20px;
}

.MainArticle:focus-within {
    transform: scale(1.00);
}

.CenterSection {
    display: block;
    position: relative;
    margin: 30px 0 30px 9.5%;
    width: 55%;
    min-width: 192px;
    text-align: center;
    word-wrap: break-word;
    text-shadow: 2px 2px 3px rgba(56, 64, 66, 0.5);
}

.CenterSection p, .CenterSection span {
    margin: 0;
    padding: 5px;
}

.CenterSection span {
    padding: 0;
    font-size: 10pt;
    color: #666666;
    text-shadow: 2px 2px 3px rgba(221, 173, 14, 0.5);
}

.ImgTextOrnament {
    margin: 20px auto 10px;
    width: 18%;
    min-width: 72px;
}

.ImgTextOrnamentMusic {
    width: 18%;
    min-width: 72px;
}

.TopSideImg {
    margin-top: 30px;
}

.MusicAlbum {
    position: relative;
    padding-top: 22px;
}

.MusicAlbum .AnchorMA { /* Якори муз. альбомов, положение зависит от высоты nav */
    position: absolute;
    top: -80px;
}

.MusicAlbum .PlayArrow {
    position: absolute;
    display: inline-block;
    line-height: 472px;
    left: -80px;
    font-size: 125pt;
    color: #00ad34;
    text-shadow: 2px 2px 3px rgba(56, 64, 66, 0.3);
    visibility: hidden;
}

.MusicAlbum iframe {
    margin-bottom: -4px;
    width: 75%;
    height: 472px;
    border: 2px solid #7a137a;
    border-radius: 5px;
    transition: transform 0.1s;
}

.MusicAlbum iframe:hover {
    border: 2px solid #971777;
    transform: scale(calc(1/1.01));
    transition: transform 0.25s;
}

.News, .AboutProject {
    font-size: 15pt;
    text-align: justify;
}

.News p {
    margin-left: 12%;
}

.TimeNews {
    color:#000980;
    background-color: rgb(201, 122, 58);
    padding: 2px;
    margin-top: 3px;
    margin-left: -5%;
    border-radius: 6px;
    float: left;
}

.AuthorPhoto {
    height: 198px;
    width: 198px;
    border: 2px solid #7a137a;
    border-radius: 3px;
    float: left;
    margin: 5px 12px 5px 5px;
}

.AuthorPhoto:hover {
    border: 2px solid #971777;
}

#ContactInfo {
    margin: auto;
    width: 75%;
    border: 3px dotted #df0f4300; /* Сохранение ширины границ */
}

#ContactInfo:target {
    background-color: rgba(255, 145, 0, 0.2);
    border: 3px dotted rgb(223, 15, 67);
    border-radius: 10px;
}

#ContactInfo .ContactMail {
    display: inline-block;
    max-width: 100%;
    color: #084f5f;
    cursor: pointer;
    box-sizing: border-box;
}

#ContactInfo .CopyMessage {
    position: absolute;
    min-width: 130px;
    color: #00ad34;
}

.ContactMail:hover {
    text-shadow: 0 0 20px rgba(255, 247, 134, 0.733);
}

.FormTrigger {
    text-decoration: none;
    font-size: 17pt;
    color: rgb(98, 0, 255);
}

#MailFormAnchor {
    position: relative;
    top: -80px; /* Зависит от высоты nav */
}

#MailFormObject, .ArrowTopPageWrapper {
    display: none;
}

#MailFormObject.Open, .ArrowTopPageWrapper.Open {
    display: block;
    animation-name: FadeIn;
    animation-fill-mode: both;
    animation-duration: 1s;
}

.MailFormTable {
    width: 80%;
    margin: auto;
    border-spacing: 0;
    text-align: left;
    font-size: 15pt;
}

.MailFormTable td {
    padding: 10px 0;
    cursor: default;
}

.MailFormTable td span {
    color: red;
}

.TextField1, .TextField2, .TextField3, .TextField4 {
    box-sizing: border-box;
    font-size: 11pt;
    width: 100%;
    padding: 5px;
    border: 1px solid #560e86;
    border-radius: 3px;
}

.TextField4 {
    resize: vertical;
    height: 10em;
}

.MailFormTable tfoot {
    text-align: right;
}

.MailFormTable .LimitNote {
    text-align: left;
    font-size: 10pt;
    color: #303030;
    position: relative;
    top: -30px;
}

.SubmitButton {
	width: 110px;
	height: 30px;
	font: 16px 'Trebuchet MS';
	padding: 0 0 2px;
	outline: none;
	position: relative;
	cursor: pointer;
	border-radius: 3px;
	color: #51646a;
	text-shadow: 1px 1px #C4D0DA;
	border: 1px solid #7C8A93;
	border-top: 1px solid #A1AEB7;
	border-bottom: 1px solid #5D6B75;
	box-shadow:
		inset 0 1px #D8E0E6,
		inset 1px 0 #B7C6D1,
		inset -1px 0 #B7C6D1,
		inset 0 -1px #A1B5C4,
		0 1px #62727E,
		0 1px #5D6B75,
		0 2px 2px rgba(0,0,0,0.4)
	;
	background-color: #e2eef0;
}
.SubmitButton:hover {
	border-top: 1px solid #96A2AB;
	box-shadow:
		inset 0 1px #C0CED7,
		inset 1px 0 #B7C6D1,
		inset -1px 0 #B7C6D1,
		inset 0 -1px #B9C8D3,
		0 1px #62727E,
		0 1px #5D6B75,
		0 2px 2px rgba(0,0,0,0.4)
	;
	background-color: #d6e5e7;
}
.SubmitButton:active {
	top: 3px;
	border: 1px solid #778998;
	border-top: 1px solid #606F7A;
	border-bottom: 1px solid #8296A6;
	box-shadow: inset 0 1px 2px #5F7281;
    background-color: #9fb2b4;
}

.RightColumn {
    display: none;
    position: fixed;
    right: 8%;
    bottom: 56px;
    width: 18%;
    min-width: 150px;
    margin: 0;
    padding: 2px 7px;
    font-size: 13pt;
    word-wrap: break-word;
    background: #fff7cc;
    border: 1px solid;
}

.RightColumn ol {
    padding-left: 17px;
    margin-bottom: 18px;
    height: 481px;
    overflow-x: hidden;
}

li ~ li {
    margin-top: 7px;
}

.CloseImg {
    float: left;
}

.RightColumnButton1 {
    float: right;
    margin: 20px -15% 0 0;
    height: 42px;
    width: 98px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #9fd4ff;
    overflow: hidden;
    text-overflow: clip;
    font-size: 12pt;
    cursor: pointer;
}
.RightColumnButton1:hover {
    background-color: #bde3ff;
}
.RightColumnButton1:active {
    background-color: #539fdd;
}

.RightColumnButton2 {
    display: none;
    position: absolute;
    bottom: 20px;
    left: -102px;
    width: 110px;
    height: 58px;
    border: 2px solid #f30606;
    border-radius: 10px;
    background-color: #ffa860;
    color: #601e86;
    overflow: hidden;
    text-overflow: clip;
    font-size: 12pt;
    cursor: pointer;
}
.RightColumnButton2:hover {
    background-color: #ffbd66;
}
.RightColumnButton2:active {
    background-color: #e0863b;
}

.ArrowTopPageBig {
    display: inline-block;
    height: 50px; width: 50px;
    filter: invert(50%) brightness(75%);
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(56, 64, 66, 0.3);
}
.ArrowTopPageSmall {
    display: none;
    height: 34px; width: 34px;
    filter: invert(50%) brightness(75%);
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(56, 64, 66, 0.3);
}
.ArrowTopPageBig:hover, .ArrowTopPageSmall:hover {
    filter: invert(50%) brightness(50%);
    box-shadow: 2px 2px 3px rgba(47, 52, 53, 0.5);
}

footer::before { /* Для изменений только фона */
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background:
        url(img/FooterBackground.jpg) no-repeat,
/*        url("img/TextureTVLines.png") no-repeat,
        linear-gradient(3deg, #746c52, #4e432a), */
        #6e643e;
    background-size: 100% 400%, auto, auto;
    background-blend-mode: soft-light;
    filter: brightness(1.5) contrast(0.8);
}

footer {
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    height: 56px;
}

footer p {
    margin: 0;
    padding: 8px;
    text-align: center;
    font-size: 12pt;
    line-height: 1.25em;
}

.FadeIn {
    animation-name: FadeIn;
    animation-fill-mode: both;
    animation-duration: 500ms;
}

.FadeOut {
    animation-name: FadeOut;
    animation-fill-mode: both;
    animation-duration: 500ms;
}

@keyframes PreloadBoxRotate {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(270deg);
    }
}

@keyframes PreloadCircleScale {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

@keyframes FadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes FadeOut {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes HeaderTitleAnimation {
    0% {
        transform: translateX(0) rotate(0deg) scaleX(1);
        filter: hue-rotate(0deg);
    }
    35% {
        transform: translateX(14vw) rotate(0deg) scaleX(1);
        filter: hue-rotate(0deg);
    }
    45% {
        transform: translateX(14vw) rotate(0deg) scaleX(0.25);
        filter: hue-rotate(45deg);
    }
    88% {
        transform: translateX(14vw) rotate(360deg) scaleX(0.25);
        filter: hue-rotate(360deg);
    }
    100% {
        transform: translateX(0) rotate(360deg) scaleX(1);
        filter: hue-rotate(360deg);
    }
}

@keyframes HeaderEmblem1Animation_BigScreen {
    0% {
        clip-path: circle(0 at calc(100vw - 115px) 100px);
        filter: blur(1px) brightness(1) saturate(1);
    }
    25% {
        filter: blur(5px) brightness(1.1) saturate(1.1);
    }
    50% {
        clip-path: circle(75px at calc(100vw - 115px) 100px);
        filter: blur(2px) brightness(1) saturate(1.05);
    }
    100% {
        clip-path: circle(75px at calc(100vw - 115px) 100px);
        filter: blur(1px) brightness(1) saturate(1);
    }
}

@keyframes HeaderEmblem2Animation_BigScreen {
    0% {
        clip-path: circle(0 at calc(100vw - 115px) 100px);
        filter: blur(4px) brightness(1.1) saturate(1.1);
    }
    10% {
        clip-path: circle(0 at calc(100vw - 115px) 100px);
        filter: blur(4px) brightness(1.1) saturate(1.1);
    }
    50% {
        clip-path: circle(75px at calc(100vw - 115px) 100px);
        filter: blur(2px) brightness(1) saturate(1.05);
    }
    100% {
        clip-path: circle(75px at calc(100vw - 115px) 100px);
        filter: blur(1px) brightness(1) saturate(1);
    }
}

@keyframes HeaderEmblem1Animation_SmallScreen {
    0% {
        clip-path: circle(0 at calc(100vw - 87px) 72px);
        filter: blur(1px) brightness(1) saturate(1);
    }
    25% {
        filter: blur(4px) brightness(1.1) saturate(1.2);
    }
    50% {
        clip-path: circle(47px at calc(100vw - 87px) 72px);
        filter: blur(2px) brightness(1) saturate(1.05);
    }
    100% {
        clip-path: circle(47px at calc(100vw - 87px) 72px);
        filter: blur(1px) brightness(1) saturate(1);
    }
}

@keyframes HeaderEmblem2Animation_SmallScreen {
    0% {
        clip-path: circle(0 at calc(100vw - 87px) 72px);
        filter: blur(4px) brightness(1.1) saturate(1.2);
    }
    10% {
        clip-path: circle(0 at calc(100vw - 87px) 72px);
        filter: blur(4px) brightness(1.1) saturate(1.2);
    }
    50% {
        clip-path: circle(47px at calc(100vw - 87px) 72px);
        filter: blur(2px) brightness(1) saturate(1.05);
    }
    100% {
        clip-path: circle(47px at calc(100vw - 87px) 72px);
        filter: blur(1px) brightness(1) saturate(1);
    }
}

.Empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.LowLine {
    border-bottom: 3px ridge rgba(119, 91, 49, 0.5);
    box-sizing: border-box;
}

.HiddenMediaLevel1, .HiddenMediaLevel2, .HiddenMediaLevel3, 
.HiddenMediaForm {
    display: none;
}

@media screen and (max-width: 1400px) {
    .TimeNews {
        font-size: 12pt;
        margin-top: 7px;
    }
    .HiddenMediaLevel1 {
        display: flex;
    }
}

@media screen and (max-width: 1120px) {
    header::before, .HeaderEmblem1, .HeaderEmblem2 {
        height: 144px;
    }
    h1 {
        font-size: 56pt;
    }
    .MainHeader p {
        font-size: 22pt;
    }
    .MainHeader {
        left: -10px;
        width: 402px;
    }
    .HeaderEmblem1 {
        clip-path: circle(0 at calc(100vw - 87px) 72px);
        transform-origin: calc(100vw - 87px) 72px 0;
    }
    .HeaderEmblem2 {
        clip-path: circle(0 at calc(100vw - 87px) 72px);
        transform-origin: calc(100vw - 87px) 72px 0;
    }
    .ready .HeaderEmblem1 {
        animation: HeaderEmblem1Animation_SmallScreen 3s linear infinite;
    }
    .ready .HeaderEmblem2 {
        animation: HeaderEmblem2Animation_SmallScreen 3s linear infinite;
    }
    .ready .HeaderEmblem1AnimDelay, .ready .HeaderEmblem2AnimDelay {
        animation-delay: 2.5s;
    }
    nav {
        height: 60px;
        margin: 15px 0;
    }
    aside {
        margin-left: 15px;
    }
    .MainArticle {
        margin: 0 15px;
    }
    h3, .Navigation a, .FigCover figcaption {
        font-size: 12pt;
    }
    .TimeNews {
        margin-left: -9%;
        font-size: 10pt;
        margin-top: 6px;
    }
    .CenterContainer p, .News p, .AboutProject p, .MailFormTable {
        font-size: 13pt;
    }
    .MusicAlbum .AnchorMA { /* Якори муз. альбомов, положение зависит от высоты nav */
        top: -60px;
    }
    .MusicAlbum iframe {
        margin-bottom: -3px;
    }
    .MusicAlbum .PlayArrow {
        left: -60px;
        font-size: 92pt;
    }
    .DoubleCircle {
        width: 60px; height: 60px;
        top: calc(50% - 60px/2);
        left: calc(50% - 60px/2);
        background: radial-gradient(circle at center, #1b1b1b 11px, 
        rgba(227, 222, 236, 0.95) 12px);
    }
    #ContactInfo {
        width: 100%;
    }
    #MailFormAnchor {
        top: -60px; /* Зависит от высоты nav */
    }
    .MainArticle, #ContactInfo p, .FormTrigger {
        font-size: 15pt;
    }
    .MailFormTable .LimitNote {
        font-size: 9pt;
        top: -25px;
    }
    .MailFormTable {
        width: 100%;
    }
    .News p {
        margin-left: 50px;
    }
    .AuthorPhoto {
        height: 180px;
        width: 180px;
        margin: 5px 12px 5px 5px;
    }
    .SubmitButton {
        width: 90px;
        height: 24px;
        font-size: 14px;
    }
    .RightColumn {
        font-size: 11pt;
        padding: 3px;
        word-wrap: normal;
    }
    .RightColumnButton1 {
        margin: 17px -15% 0 0;
        padding: 3px;
        height: 33px;
        width: 80px;
        font-size: 0pt;
    }
    .RightColumnButton1:after {
        font-size: 10pt;
        content: 'Закрыть';
    }
    .RightColumnButton2 {
        bottom: 17px;
        left: -80px;
        padding: 3px;
        height: 40px;
        width: 85px;
        font-size: 0pt;
        border: 1px solid #f30606;
    }
    .RightColumnButton2:after {
        font-size: 10pt;
        content: ' Закрыть НАВСЕГДА!';
    }
    .RightColumn ol {
        height: 546px;
    }
    .ArrowTopPageBig {
        display: none;
    }
    .ArrowTopPageSmall {
        display: inline-block;
    }
}

@media screen and (max-width: 850px) {
    .HiddenMediaLevel2 {
        display: flex;
    }
    .MusicAlbum .PlayArrow {
        left: -40px;
        font-size: 60pt;
    }
}

@media screen and (max-width: 700px) {
    .HiddenMediaLevel3 {
        display: flex;
    }
    .DoubleCircle {
        width: 40px; height: 40px;
        top: calc(50% - 40px/2);
        left: calc(50% - 40px/2);
        background: radial-gradient(circle at center, #1b1b1b 7px, 
        rgba(227, 222, 236, 0.95) 8px);
    }
}
